@import '_variables.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: $primary-background-color;
}

.big-img {
  min-width: 600px;
  max-width: 600px;
  height: 600px;
}

.ml-3 {
  margin-left: 15%;
  padding-right: 0;
}

.pt-1 {
  padding-top: 2%;
}

.center {
  justify-content: center;
}

.underline {
  text-decoration: underline;
}

.fullHeightDiv {
  min-height: 75vh;
}

.mh-c {
  min-height: 60vh;
}

.centered-btn {
  position: absolute;
  top: 150px;
  height: 8vh;
}

